@import "tailwindcss";
@plugin "daisyui";


.my-btn {
  @apply btn w-full bg-white text-black text-lg font-bold border-none hover:scale-105 transition-transform duration-200;
}

.new-btn{
  @apply bg-gradient-to-r from-white to-blue-500
         bg-clip-text text-transparent;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
  
}